.westernsattel__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 2rem 6rem;
}

.westernsattel__navbar-links {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.westernsattel__navbar-links_logo {
	margin-right: 2rem;
}

.westernsattel__navbar-links_logo img {
	width: 3.5rem;
	height: auto;
}

.westernsattel__navbar-links_container {
	display: flex;
	flex-direction: row;
}

.westernsattel__navbar-sign {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.westernsattel__navbar-links_container p,
.westernsattel__navbar-sign p,
.westernsattel__navbar-menu_container p {
	color: #fff;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	margin: 0 1rem;
	cursor: pointer;
}

.westernsattel__navbar-sign button,
.westernsattel__navbar-menu_container button {
	padding: 0.5rem;
	color: #fff;
	background: rgb(188, 51, 26);
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
}

.westernsattel__navbar-menu {
	margin-left: 1rem;

	display: none;
	position: relative;
}

.westernsattel__navbar-menu svg {
	cursor: pointer;
}

.westernsattel__navbar-menu_container {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;

	text-align: end;
	background: var(--color-footer);
	padding: 2rem;
	position: absolute;
	right: 0;
	top: 40px;
	margin-top: 1rem;
	min-width: 210px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.westernsattel__navbar-menu_container p {
	margin: 1rem 0;
}

.westernsattel__navbar-menu_container-links-sign {
	display: none;
}

@media screen and (max-width: 1050px) {
	.westernsattel__navbar-links_container {
		display: none;
	}

	.westernsattel__navbar-menu {
		display: flex;
	}
}

@media screen and (max-width: 700px) {
	.westernsattel__navbar {
		padding: 2rem 4rem;
	}
}

@media screen and (max-width: 550px) {
	.westernsattel__navbar {
		padding: 1rem;
	}

	.westernsattel__navbar-sign {
		display: none;
	}

	.westernsattel__navbar-menu_container {
		top: 20px;
	}

	.westernsattel__navbar-menu_container-links-sign {
		display: block;
	}
}