.westernsattel__header {
	display: flex;
	flex-direction: row;
}

.westernsattel__header-content {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	margin-right: 5rem;
}

.westernsattel__header-content h1 {
	font-family: var(--font-family);
	font-weight: 800;

	font-style: normal;
	font-size: 62px;
	line-height: 121%;
	/* or 121% */

	letter-spacing: -0.04em;

}

.westernsattel__header-content p {
	font-family: var(--font-family);
	font-style: normal;
	font-weight: normail;
	font-size: 20px;
	line-height: 27px;

	color: var(--color-text);

	margin-top: 1.5rem;
}

.westernsattel__header-content__input {
	width: 100%;
	margin: 2rem 0 1rem;
	display: flex;
}

.westernsattel__header-content__input input {
	flex: 2;
	width: 100%;
	min-height: 50px;
	background: var(--color-footer);
	font-size: 20px;
	line-height: 27px;
	font-family: var(--font-family);
	color: #3D6184;
	border: 2px solid var(--color-footer);
	outline: none;
	padding: 0 1rem;
}

.westernsattel__header-content__input button {
	flex: 0.6;
	width: 100%;
	min-height: 50px;

	background: rgb(188, 51, 26);
	font-family: var(--font-family);
	font-size: 20px;
	font-style: normal;
	font-size: 20px;
	font-weight: bold;
	line-height: 27px;

	color: #FFFFFF;
	cursor: pointer;
	outline: none;
	padding: 0 1rem;
	border: none;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.westernsattel__header-image {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.westernsattel__header-image img {
	width: 100%;
	height: 100%
}

@media screen and (max-width: 1050px) {
	.westernsattel__header {
		flex-direction: column;
	}

	.westernsattel__header-content {
		margin: 0 0 3rem;
	}
	.westernsattel__header-image img  {
		min-width: 100vw;
	}
}

@media screen and (max-width: 650px) {
	.westernsattel__header h1 {
		font-size: 48px;
		line-height: 50px;
	}

	.westernsattel__header p {
		font-size: 16px;
		line-height: 24px;
	}


	.westernsattel__header-content__input input,
	.westernsattel__header-content__input button {
		font-size: 16px;
		line-height: 24px;
		border-radius: 0px;
	}
}

@media screen and (max-width: 490px) {
	.westernsattel__header h1 {
		font-size: 36px;
		line-height: 48px;
	}

	.westernsattel__header p {
		font-size: 14px;
		line-height: 2
	}

	.westernsattel__header-content__input input,
	.westernsattel__header-content__input button {
		font-size: 12px;
		line-height: 16px;
	}
}